{% extends 'base.html.twig' %}

{% block title %}PropertyClass index{% endblock %}

{% block body %}
    <h1>PropertyClass index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property_class in property_classes %}
            <tr>
                <td>{{ property_class.id }}</td>
                <td>{{ property_class.name }}</td>
                <td>{{ property_class.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_property_class_show', {'id': property_class.id}) }}">show</a>
                    <a href="{{ path('app_property_class_edit', {'id': property_class.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_property_class_new') }}">Create new</a>
{% endblock %}
