{% extends 'base.html.twig' %}

{% block title %}Amenities index{% endblock %}

{% block body %}
    <h1>Amenities index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for amenity in amenities %}
            <tr>
                <td>{{ amenity.id }}</td>
                <td>{{ amenity.name }}</td>
                <td>{{ amenity.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_amenities_show', {'id': amenity.id}) }}">show</a>
                    <a href="{{ path('app_amenities_edit', {'id': amenity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_amenities_new') }}">Create new</a>
{% endblock %}
