{% extends 'base.html.twig' %}

{% block title %}AmenitiesProperty index{% endblock %}

{% block body %}
    <h1>AmenitiesProperty index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for amenities_property in amenities_properties %}
            <tr>
                <td>{{ amenities_property.id }}</td>
                <td>{{ amenities_property.name }}</td>
                <td>{{ amenities_property.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_amenities_property_show', {'id': amenities_property.id}) }}">show</a>
                    <a href="{{ path('app_amenities_property_edit', {'id': amenities_property.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_amenities_property_new') }}">Create new</a>
{% endblock %}
